body {
	margin:0;
	background:#fafafa;
}

/* create a div in the html such that it will receive the styles defined below */
.two {
	background:rgba(128, 200, 80, .6);
	height:200px;
	width:800px;
	position:fixed;
	bottom:0px;
	left:50%;
	margin-left:-400px;
}

#one{
	padding:20px;
	border:black 1px solid;
}